# Ignorar a pasta de dependências do Node
node_modules/

# Opcional: Ignorar o diretório de build do Vite
dist/

# Ignorar arquivos de log do npm
npm-debug.log*

# Arquivos de ambiente
.env.local
.env.*.local

# Arquivos do VS Code
.vscode/

# Arquivos de sistema
.DS_Store